<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihu.mapper.UserMapper">
    <resultMap id="userMap" type="com.jihu.entity.User" autoMapping="true">
        <id column="id" property="userid"></id>
        <collection property="user_roles" column="user_id" ofType="com.jihu.entity.User_role">
            <association column="role_id" property="role" javaType="com.jihu.entity.Role">
                <id column="roleid" property="roleid"></id>
                <result column="role" property="role"/>
                <result column="description" property="description"/>
            </association>
        </collection>
    </resultMap>

    <select id="selectByUsername" resultMap="userMap">
       SELECT * FROM
        sys_users u
        inner JOIN sys_users_roles ur ON u.id = ur.user_id
        left join sys_roles r on ur.role_id = r.roleid
        where u.username = #{username}
    </select>
</mapper>